[submodule "sevenkewp"]
	path = sevenkewp
	url = https://github.com/wootguy/SevenKewp_data.git
[submodule "plugins/HLCMapPlugins"]
	path = plugins/HLCMapPlugins
	url = https://github.com/wootguy/HLCMapPlugins
[submodule "rehlds"]
	path = rehlds
	url = git@github.com:Glitch31415/sevenkewp-sandbox-engine
